body {
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.likes-count {
  margin-left: 10px;
  font-weight: bold;
  color: #dc3545;
}

h1,
h2 {
  text-align: center;
  color: #343a40;
}

button {
  border-radius: 20px;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

.navbar-custom {
  width: 100%;
}

.navbar-primary {
  background-color: #092f58;
}

.navbar-dark-custom {
  background-color: #343a40;
}

.navbar-light-custom {
  background-color: #e3f2fd;
}

.navbar-brand-custom {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
  color: white;
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.navbar-brand-custom:hover {
  color: #264653;

  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.nav-link-custom {
  font-weight: 500;
  font-size: 1.1em;
  color: #f0f0f0;

  margin-left: 15px;
  transition: color 0.3s ease-in-out;
}

.nav-link-custom:hover {
  color: goldenrod;
}

.icon-login {
  font-size: 1.6em;
  margin-left: 5px;
  color: #f0f0f0;
}

.nav-item-login {
  margin-left: auto;
}

.navbar-center {
  margin-left: 350px;
  margin-right: auto;
}

.nav-link-custom {
  font-weight: 500;
  font-size: 1.1em;
  color: #f0f0f0;

  margin-left: 15px;
  transition: color 0.3s ease-in-out;
}

.nav-link-custom:hover {
  color: goldenrod;
}

.nav-link-custom.active {
  color: goldenrod;
}

.most-liked-container {
  background: linear-gradient(to right, #e3f2fd, #e0f7fa);
  border: 1px solid #007bff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.most-liked-card {
  border: 1px solid #007bff;
}

.welcome-banner {
  position: relative;
  text-align: center;
  color: white;
  margin: 20px 0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner-image {
  width: 100%;
  height: 300px;
  display: block;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.banner-text h1 {
  font-size: 2.5em;
  margin: 0;
  color: white;
}

.banner-text p {
  font-size: 1.2em;
  margin: 10px 0 0;
}

.logged-banner {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  text-align: center;
  color: white;
  margin: 20px 0;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-in-out;
}

.logged-text h1 {
  font-size: 3em;
  margin: 0;
  animation: slideIn 1s ease-in-out;
}

.logged-text p {
  font-size: 1.5em;
  margin: 10px 0 0;
  animation: slideIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.icon-container {
  background-color: #007bff;
  padding: 10px;
}

.icon-with-text {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.icon-with-text i {
  display: block;
  color: white;
}

.icon-with-text span {
  color: white;
  font-size: 12px;
}
